<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h2><%=3+4 %></h2>
    <h1><%="durvesh".toUpperCase() %></h1>
    <h2><%= ["Durvesh", "Arvesh"][0] %></h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Asperiores aliquid officiis odit beatae numquam impedit molestiae aliquam repellendus suscipit sequi fuga, non ex. 
        Maiores corrupti delectus, aperiam illo quis autem?
    </p>
    <button>Click me</button>
</body>
</html>