<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="username" id="username" placeholder="Enter your username"> <br> <br>
        <textarea name="contents" id="contents" placeholder="Message Write here"></textarea>
        <br><br>
        <button type="submit">Send</button>
    </form>
</body>
</html>