<%- include("header/header.ejs") %>

<body>
    <div>
        <h1>Please login</h1>
        <div>
            <label for="user">UserId</label>
            <input type="text" name="" id="user">
        </div>
        <div>
            <label for="password"></label>
            <input type="password" name="" id="">
        </div>
        <div>
            <input type="button" name="" id="" value="Resat">
            <input type="button" name="" id="submite">
        </div>
        <%- include("Footer/footer.ejs") %>
    </div>
</body>
</html>