
<%- include("header/header.ejs") %>
<body>
    <h1>Hello World : <%= username %></h1>
    <button>Follow</button> 
    <button>Message</button>
    <%- include("Footer/footer.ejs") %>
</body>
<script src="/Script.js"></script>
</html>