<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Sapiente obcaecati veritatis deleniti nemo, aspernatur, earum maxime sequi quaerat 
        nihil omnis modi consectetur eius animi cumque delectus facilis? Incidunt, odio vitae.
    </p>
    <button>Click me</button>
</body>
</html>