<div class="footer">
    <div class="fotter-c1">
        <span>Contect us +91XXXXXXXX &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; </span>
        <span>Contect us +91XXXXXXXX &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; </span>
        <span>About &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</span>
    </div>
    <div>
        <input type="email">
        <button type="button">Subnite</button>
    </div>
</div>