<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Form</h1>
    <br>
    <h2>Post id: <%= person.id %></h2>
    <h2>@<%= person.username %></h2>
    <form method="post" action="/posts/<%= person.id %>?_method=PATCH">
        <br><br>
        <textarea name="content" id="content" placeholder="Content edit only..."><%= person.content %></textarea>
        <input type="submit" name="" id="" value="Send">
    </form>
    
</body>
</html>