<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Here more about me</h1>
    <h2>Post Id <%= person.id %></h2>
    <h2>@<%= person.username %></h2>
    <h4><%= person.content %></h4>
</body>
</html>